// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { buildHeaders } from '../../internal/headers';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

export class Webhooks extends APIResource {
  /**
   * Creates a new webhook and returns the created object, including the generated
   * signing `secret`.
   *
   * ImageKit sends a `POST` request to the webhook `endpoint` whenever one of the
   * subscribed `events` occurs. Use the `secret` to verify the signature of each
   * request. Learn more about [webhooks](https://imagekit.io/docs/webhooks).
   *
   * You can create up to 3 webhooks per account.
   *
   * @example
   * ```ts
   * const webhook = await client.accounts.webhooks.create({
   *   endpoint: 'https://example.com/imagekit/webhooks',
   *   events: ['video.transformation.ready', 'file.created'],
   * });
   * ```
   */
  create(body: WebhookCreateParams, options?: RequestOptions): APIPromise<Webhook> {
    return this._client.post('/v1/accounts/webhooks', { body, ...options });
  }

  /**
   * Updates the webhook identified by `id` and returns the updated object. Only the
   * fields included in the request body are changed.
   *
   * When `events` is provided, it replaces the existing list of subscribed events.
   * The signing `secret` can't be changed.
   *
   * @example
   * ```ts
   * const webhook = await client.accounts.webhooks.update(
   *   '65f1c2a9e4b0a1b2c3d4e5f6',
   *   {
   *     events: [
   *       'video.transformation.ready',
   *       'video.transformation.error',
   *     ],
   *   },
   * );
   * ```
   */
  update(id: string, body: WebhookUpdateParams, options?: RequestOptions): APIPromise<Webhook> {
    return this._client.patch(path`/v1/accounts/webhooks/${id}`, { body, ...options });
  }

  /**
   * Returns an array of all webhooks configured for your account.
   *
   * @example
   * ```ts
   * const webhooks = await client.accounts.webhooks.list();
   * ```
   */
  list(options?: RequestOptions): APIPromise<WebhookListResponse> {
    return this._client.get('/v1/accounts/webhooks', options);
  }

  /**
   * Permanently deletes the webhook identified by `id`. ImageKit stops sending
   * events to its endpoint.
   *
   * @example
   * ```ts
   * await client.accounts.webhooks.delete(
   *   '65f1c2a9e4b0a1b2c3d4e5f6',
   * );
   * ```
   */
  delete(id: string, options?: RequestOptions): APIPromise<void> {
    return this._client.delete(path`/v1/accounts/webhooks/${id}`, {
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
    });
  }

  /**
   * Retrieves the webhook identified by `id`.
   *
   * @example
   * ```ts
   * const webhook = await client.accounts.webhooks.get(
   *   '65f1c2a9e4b0a1b2c3d4e5f6',
   * );
   * ```
   */
  get(id: string, options?: RequestOptions): APIPromise<Webhook> {
    return this._client.get(path`/v1/accounts/webhooks/${id}`, options);
  }
}

/**
 * A webhook is an HTTP endpoint that ImageKit notifies when subscribed events
 * occur in your account. Learn more about
 * [webhooks](https://imagekit.io/docs/webhooks).
 */
export interface Webhook {
  /**
   * Unique identifier for a webhook.
   */
  id: string;

  /**
   * ISO 8601 timestamp of when the webhook was created.
   */
  createdAt: string;

  /**
   * Whether the webhook is enabled. When `false`, ImageKit doesn't send any events
   * to the `endpoint`.
   */
  enabled: boolean;

  /**
   * The URL where ImageKit sends webhook events as `POST` requests. Must use the
   * `http` or `https` protocol, and must be unique across all webhooks for your
   * account.
   */
  endpoint: string;

  /**
   * The event types this webhook is subscribed to. ImageKit sends a request to the
   * `endpoint` only for these events.
   */
  events: Array<WebhookEventType>;

  /**
   * Signing secret generated by ImageKit, used to verify that webhook requests come
   * from ImageKit. Starts with `whsec_`. This value can't be set or changed through
   * the API. Learn more about
   * [verifying webhook signatures](https://imagekit.io/docs/webhooks#verify-webhook-signature).
   */
  secret: string;

  /**
   * ISO 8601 timestamp of when the webhook was last updated.
   */
  updatedAt: string;
}

/**
 * A webhook event type. Learn more about the payload of each
 * [webhook event](https://imagekit.io/docs/webhooks#list-of-events).
 */
export type WebhookEventType =
  | 'video.transformation.accepted'
  | 'video.transformation.ready'
  | 'video.transformation.error'
  | 'upload.pre-transform.success'
  | 'upload.pre-transform.error'
  | 'upload.post-transform.success'
  | 'upload.post-transform.error'
  | 'file.created'
  | 'file.updated'
  | 'file.deleted'
  | 'file-version.created'
  | 'file-version.deleted';

export type WebhookListResponse = Array<Webhook>;

export interface WebhookCreateParams {
  /**
   * The URL where ImageKit sends webhook events as `POST` requests. Must use the
   * `http` or `https` protocol, and must be unique across all webhooks for your
   * account.
   */
  endpoint: string;

  /**
   * The event types this webhook is subscribed to. ImageKit sends a request to the
   * `endpoint` only for these events.
   */
  events: Array<WebhookEventType>;

  /**
   * Whether the webhook is enabled. When `false`, ImageKit doesn't send any events
   * to the `endpoint`.
   */
  enabled?: boolean;
}

export interface WebhookUpdateParams {
  /**
   * Whether the webhook is enabled. Omit to leave the current value unchanged.
   */
  enabled?: boolean;

  /**
   * The URL where ImageKit sends webhook events as `POST` requests. Must use the
   * `http` or `https` protocol, and must be unique across all webhooks for your
   * account.
   */
  endpoint?: string;

  /**
   * The event types this webhook is subscribed to. Replaces the existing list. Omit
   * to leave the current value unchanged.
   */
  events?: Array<WebhookEventType>;
}

export declare namespace Webhooks {
  export {
    type Webhook as Webhook,
    type WebhookEventType as WebhookEventType,
    type WebhookListResponse as WebhookListResponse,
    type WebhookCreateParams as WebhookCreateParams,
    type WebhookUpdateParams as WebhookUpdateParams,
  };
}
